@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;900&display=swap');

* {
  font-family: 'Urbanist', sans-serif !important;
}
h1 {
  letter-spacing: 1px;
}
h6 {
  letter-spacing: 1px;
}
h5 {
  font-size: 1.2rem;
}
em {
  font-size: 14px;
}
.row-padding {
  padding-bottom: 15px;
}
.berPadd h1 {
  font-weight: 700;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}
.berPadd img {
  height: 75px;
}
.gallery-image img {
  display: block;
  height: 100%;
  width: 100%;
}
.hide_title {
  display: none;
  background-color: #fc6375;
  padding: 7px 10px 4px;
  text-align: -webkit-center;
  margin: auto;
  color: #fff;
  border-radius: 25px;
}
.hide_title h3 {
  font-size: 24px;
  font-weight: 600;
}
.butterfly-gallery-link {
  color: #fc6375;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.158);
  font-weight: 500;
}
.form-groupx {
  border: 1px solid #ced4da;
  padding: 0px;
  border-radius: 3px;
}
.form-groupx:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fc6375;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fc637538;
}
.form-groupx:active {
  color: #212529;
  background-color: #fff;
  border-color: #fc6375;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #fc637538;
}
.form-groupx input {
  margin-left: 10px;
  display: inline-block;
  width: 90%;
  border: none;
}
.fileContainer .chooseFileButton {
  background: #fc6375 !important;
}
.skip-content {
  text-align: center;
  background-color: #ff566b;
  color: #ffffff;
  border: 2px solid #ff566b;
  border-radius: 20px;
  height: 30px;
  width: 140px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}
.font-form-size h5 {
  font-size: 22px;
}
.form-groupx input:focus {
  box-shadow: none;
}
input#phoneNumber:active {
  background-color: #fff;
}
.gender {
  display: none;
}
.specialCaseCheck {
  display: none;
}
.physicalStatusCheck {
  display: none;
}
.preferenceCheck {
  display: none;
}
.spousePreferenceCheck {
  display: none;
}
#date-change {
  width: 20px;
  border-style: hidden;
  background-color: #e9ecef;
}
#date-change:focus,
#date-change:active {
  outline: 0;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #ffffff;
  /* opacity: 1; */
}
.sticky-top {
  box-shadow: 0px 0px 20px 0px #212425a2;
}
.notfoundtextposition {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  height: 50%;
}
.background-img_1 {
  width: 100%;
  height: 800px;
  background: url('../image/background_img_1.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -20px;
  border-radius: 0px 0px 50px 50px;
}

.text_position_2 {
  color: #ffffff;
  position: relative;
  top: 280px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: -webkit-center;
}
a#badge img {
  height: 40px;
}
#venusButton {
  text-decoration: none;
  border-color: #ffffff;
  color: #ffffff;
  padding: 8px 30px 8px 30px;
  font-weight: 600;
  font-size: larger;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  background-image: linear-gradient(#ff566b, #ff566b);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
#venusButton:hover {
  background-size: 100% 100%;
  border-style: hidden;
}
#venusButtonGet {
  text-decoration: none;
  border-color: #ff566b;
  color: #ff566b;
  padding: 8px 30px 8px 30px;
  font-weight: 600;
  font-size: larger;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  background-image: linear-gradient(#ff566b, #ff566b);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.venus_text_position_3,
.venus_text_position_4,
.cvbank_text_position_1 {
  text-align: -webkit-center;
}
.getVenus {
  text-align: center;
  margin-top: 390px;
}
#venusButtonGet:hover {
  background-size: 100% 100%;
  border-style: hidden;
  color: #ffffff;
}
h1 {
  font-weight: 1000;
}
.ber_position {
  color: #ffffff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  left: 0;
  right: 0;
  text-align: center;
}
#rds {
  border-style: hidden;
  border-radius: 20px;
  background-color: #ff566b;
}
.h6padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
.background-img_2 {
  width: 100%;
  background: url('../image/Group_2.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.img_1 img {
  display: block;
  max-width: 45%;
  margin-top: -15%;
}
div.home_text_2_outside {
  height: 300px;
  width: 100%;
}
div.text_2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
}
.cv_bank_add_button {
  display: flex;
  width: 100%;
}
.fileContainer .uploadPictureContainer {
  width: 10% !important;
  padding: 0px !important;
  border: 0 !important;
}
.cv_bank_button_inside {
  margin-left: auto;
}
#badge {
  text-decoration: none;
  padding: 0px 0px 0px 10px;
}
.badge_psition {
  margin-top: 20px;
}
.text_position_3_milestone {
  text-align: -webkit-center;
  margin-top: 100px;
}
.text_position_3_milestone h6 {
  max-width: 803px;
}
.text_position_3 {
  text-align: -webkit-center;
  margin-top: 90px;
}

.venus_text_position_3 h6 {
  max-width: 722px;
}
div.text_position_3 h6 {
  max-width: 682px;
}
.card_2 {
  text-align: center;
  border-style: hidden;
  border-radius: 12px;
  width: 260px;
  padding: 30px;
  background-color: #ff566b;
  color: #ffffff;
  box-shadow: 0 14px 26px rgb(0 0 0 / 15%);
  transition: all 0.2s ease-out;
}
.card_2:hover {
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.363);
  transform: scale(1.02);
}
.card_2 img {
  height: 50px;
}
.card_2 h1 {
  padding-top: 15px;
}
.container_position_1 {
  margin-top: 40px;
}
.card_3 {
  position: relative;
  top: 320px;
  text-align: center;
  border-style: hidden;
  border-radius: 12px;
  width: 373px;
  padding: 30px;
  background-color: #ff566b;
  color: #ffffff;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.151);
  transition: all 0.2s ease-out;
}
.card_3 img {
  height: 100px;
  width: 100px;
}
.card_3 h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.card_3:hover {
  box-shadow: 0 18px 30px rgba(0, 0, 0, 0.363);
}
.background-img_3 {
  width: 100%;
  height: 550px;
  background: url('../image/Group_3.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
}
.img_possition_1 {
  height: 600px;
  position: relative;
  bottom: 48.7px;
}
.text_3 h6 {
  max-width: 500px;
}
div.home_text_3_outside {
  height: 550px;
  width: 100%;
}
div.text_3 {
  position: relative;
  top: 68%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: -webkit-center;
  color: #ffffff;
}
.card {
  margin-top: 50px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.151);
  transition: all 0.3s ease-out;
}
.card img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card:hover {
  box-shadow: 0 18px 28px rgba(0, 0, 0, 0.363);
  transform: scale(1.02);
}
.card h3 {
  padding: 0px 20px 10px 20px;
}
.card h6 {
  padding: 0px 20px 10px 20px;
  text-align: justify;
}
.card h3 {
  padding-top: 20px;
}
.card a {
  text-decoration: none;
  border-style: hidden;
  border-radius: 8px;
  color: #fff;
  background-color: #ff566b;
  height: 28px;
  width: 100px;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.socialLogoPosition {
  text-align: right;
  position: relative;
}
.socialLogo {
  padding-left: 5px;
}
li {
  padding-bottom: 2px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  font-size: smaller;
  padding: -3px;
  color: #212425;
}
.backgroundColor {
  padding-top: 20px;
  background-color: #ff566b;
  color: #ffffff;
}
li a {
  color: #ffffff;
}
.footerposition h4 {
  margin-top: 100px;
  font-weight: 800;
  font-size: 20px;
}
.about_background-img_1 {
  width: 100%;
  height: 540px;
  background: url('../image/about_background_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -20px;
  border-radius: 0px 0px 25px 25px;
}
.about_text_position_1 {
  color: #ffffff;
  position: relative;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: -webkit-center;
}
.about_text_position_1 h6 {
  max-width: 771px;
}
.about_text_position_2 {
  text-align: -webkit-center;
  margin-top: 70px;
}
.about_text_position_2 h6 {
  max-width: 755px;
}
.about_text_position_13 {
  text-align: -webkit-center;
  margin-top: 60px;
}
.swiper-pagination {
  margin-bottom: 10px;
}
.venus_text_position_4,
.venus_text_position_3,
.cvbank_text_position_1,
.text_padding_2 {
  margin-top: 85px;
}
.cv-bank-butterfly {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 7px 7px 7px #0c0c0c4f;
}
.cv-bank-butterfly div div h6 {
  line-height: 25px;
}
.fileContainer {
  border: 0.5px solid #0000002e;
  border-radius: 5px !important;
}
.cv-bank-butterfly label,
.preview-content label {
  color: #fc6375;
  font-size: 18px;
  font-weight: 600;
}
.cv-bank-butterfly-outside {
  background-color: rgb(237, 237, 237);
  padding-top: 100px;
  padding-bottom: 100px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.about_text_position_13 h6,
.text_padding_2 h6 {
  max-width: 722px;
}
.cvbank_text_position_1 h6 {
  max-width: 771px;
}
.venus_text_position_4 h6 {
  max-width: 865px;
}
.venus_text_position_3 h6 {
  max-width: 727px;
}
.text_position_2 h6 {
  max-width: 771px;
}
.venus_text_position_2 {
  color: #ffffff;
  text-align: -webkit-center;
  position: relative;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 260px;
}
.venus_text_position_2 h1 {
  max-width: 606px;
}
.venus_text_position_2 h6 {
  max-width: 771px;
}
.ber_position_about {
  color: #ffffff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #ff566b;
}
#rds_about {
  border-style: hidden;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.team_position {
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.team_position h3 {
  margin-top: 30px;
}
.team_position img {
  height: 207px;
  object-fit: cover;
}
.venus_background_img_1 {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  background: url('../image/background_img_1.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin-bottom: -240px;
}
div.venus_text_position_1_outside {
  height: 100%;
  width: 100%;
}
div.venus_text_position_1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: -webkit-center;
}
.venus_text_position_1 h6 {
  max-width: 500px;
  padding: 0;
}
.venus_img_1 {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
div.contact_img_1_outside {
  height: 100%;
  width: 100%;
}
div.contact_img_1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact_img_1 img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.contact_text_position_1 {
  margin-top: 50px;
  max-width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.btn-primary {
  border-color: #fff;
  background-color: #ff566b;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #ff566b;
  border-color: #ff566b;
  box-shadow: 0px 0px 7px 0px #ff566a69;
}
button#btn-primary:active,
button#btn-primary:focus {
  background-color: #fc6375;
  border-color: #ff566b;
  box-shadow: 0px 0px 7px 0px #ff566a69;
}
.form-control:hover {
  border-color: #ff566b;
  /* box-shadow: 0px 0px 7px 0px #ff566a69; */
}
a:hover {
  color: #212425;
  text-decoration: none;
}
.cv_bank_container {
  margin-top: 70px;
  background-color: #ff566b;
  border-style: hidden;
  border-radius: 12px;
  color: #ffffff;
  padding: 10px 0px 10px;
}
.cv_bank_container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}
.cv_bank_container li {
  display: inline-block;
  width: calc(100% / 4);
  text-align: center;
}
.cv_bank_container2 {
  margin-top: 50px;
  background-color: #ffffff;
  border-style: hidden;
  border-radius: 12px;
  padding: 30px;
}
.cv_bank_container button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.img_uploader {
  margin-bottom: -10px;
}
.img_uploader input {
  display: inline-block;
  width: 70%;
  padding: 120px 0 0 0;
  height: 120px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../image/img_upload.png') no-repeat #ffffff;
  border-radius: 8px;
  background-size: cover;
  cursor: pointer;
  border: 1px solid #ced4da;
}
.img_uploader input:hover {
  border: 1px solid #ff425c;
  box-shadow: 5px 5px 5px #ff425b49;
}
.cv_bankButton_BackNext {
  background: none;
  color: #ff566b;
  border: 2px solid #ff566b;
  padding: 6px 20px 6px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.cv_bankButton_BackNext:hover {
  color: #ffffff;
  background-color: #ff566b;
}
.educationAdd {
  background-color: #ff566b;
  color: #ffffff;
  border: 2px solid #ff566b;
  border-radius: 20px;
  height: 30px;
  width: 120px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.multi-select input[type='checkbox'] {
  display: none;
}
.rmsc {
  --rmsc-main: #ff566b !important;
}

.educationAdd:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.24);
}
.app_icon_size {
  height: 40px;
  width: 150px;
}
.form-control:focus {
  border-color: #fc6375;
  box-shadow: 0 0 0 0.2rem #ff566a56;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid rgb(184, 184, 184);
}
input[type='radio']:checked:after {
  background: #ff566b;
  box-shadow: none;
  border: 1px solid rgb(255, 255, 255);
}
input[type='checkbox']:checked {
  background: #ff566b;
  box-shadow: 0 0 0 0.2rem #ff566a56;
  border-color: #ff566b;
}
input[type='checkbox']:focus {
  border-color: #fc6375;
  box-shadow: 0 0 0 0.2rem #ff566a56;
}
input[type='radio']:focus {
  border-color: #fc6375;
  box-shadow: 0 0 0 0.2rem #ff566a56;
}
input[type='radio']:checked {
  border-color: #fc6375;
  box-shadow: 0 0 0 0.2rem #ff566a56;
}
#customSide {
  background: #ff5064;
}
.ageGroup {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
}
.ageGroup:hover {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
  transform: scale(1.01);
}
.ageGroup h5 {
  font-weight: 600;
}
.ageGroup p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0;
}
.preferance-div {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
}
.preferance-div h5 {
  font-weight: 600;
}
.preferance-div p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0;
}
.download-pdf-btn {
  border: 2px solid #fc6375;
  background-color: #fff;
  border-radius: 5px;
  padding: 7px 10px 7px;
  float: right;
  color: #fc6375;
  font-weight: 600;
}
.download-pdf-btn-outer {
  padding-bottom: 4%;
}
.preferance-div:hover {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
  transform: scale(1.01);
}
.otherSpacialCase {
  margin-top: 8px;
  margin-left: -22px;
  width: 240px;
}
td {
  font-size: 15px;
}
.progress-outer {
  padding-top: 10px;
}
.progress-bar {
  background: linear-gradient(to right, #ff425c 0%, #ffa5b2 100%);
  transition: 0.3s;
}
.componentDisplay {
  background-size: cover;
  color: #ffffff;
  padding: 10px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
}
.bar-card {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
}
.bar-card:hover {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
  transform: scale(1.01);
}
.componentDisplay:hover {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.24);
  transform: scale(1.01);
}
#firstComponentDisplay {
  background: linear-gradient(to right, #008385 0%, #00e5e9 100%);
}
#secondComponentDisplay {
  background: linear-gradient(to right, #ff425c 0%, #ffa5b2 100%);
}
#thirdComponentDisplay {
  background: linear-gradient(to right, #11a578 0%, #32e9b2 100%);
}
.iconTopDisplay {
  margin-left: 30px;
  height: 70px;
  width: 70px;
}
.textVartical {
  margin: auto;
  padding: 15px;
}
#backgroundDashboard {
  background-color: #ffffff;
}
/* Chrome, Safari, Edge, Opera */
#phoneNumber::-webkit-outer-spin-button,
#phoneNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#phoneNumber {
  -moz-appearance: textfield;
}
#borderbottomline {
  border-bottom: 2px solid #ffffff;
}
.borderbottomlinehover:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: width 0.3s;
}
.borderbottomlinehover:hover:after {
  width: 100%;
  background: #ffffff;
}
.previewImg img {
  /* border: 1px solid #ff566b;
  border-radius: 8%; */
  height: 170px;
  width: 170px;
}
.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  top: 15px;
  background: transparent;
  border: 1px solid #ff425c;
  height: 15px !important;
  opacity: 1;
  width: 15px !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: #ff425c !important;
  border: none;
}
.logosize img {
  height: 250px;
  width: 250px;
}
/* ============================================ select-search__input ============================= */

/**
 * Main wrapper
 */
.select-search {
  width: 300px;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  box-sizing: border-box;
}
.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
* Value wrapper
*/
.select-search__value {
  position: relative;
  z-index: 1;
}
.select-search__value::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/* ========================== Input  =========================== */
.education {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education .infos {
  display: flex;
  flex: 1;
}
.infos_item {
  border: 1px solid #ced4da;
  border-radius: 24px;
  display: flex;
  align-items: center;
  line-height: 10px;
  padding: 5px 8px;
  margin-right: 2px;
  justify-content: center;
  font-size: 12px;
}
.infos_item button {
  background-color: #da2a3b;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  height: 17px;
  width: 18px;
  font-size: 12px;
  margin-left: 2px;
}
.education .css-2b097c-container {
  flex: 2;
}
/* ========================== Input end =========================== */

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .form-groupx input {
    margin-left: 10px;
    width: 88.8%;
  }
  .img_uploader input {
    width: 90%;
  }
  .img_1 img {
    max-width: 50%;
  }
  .background-img_3 {
    height: 450px;
  }
  .img_possition_1 {
    height: 450px;
    bottom: -1.374px;
  }
  div.text_3 {
    top: 55%;
  }
  .card_3 {
    width: 340px;
  }
  .ber_position {
    margin-top: -160px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .form-groupx input {
    margin-left: 10px;
    width: 86%;
  }
  .ber_position {
    margin-top: -125px;
  }
  .cv_bank_container {
    margin-top: 55px;
  }
  .educationAdd {
    margin-top: 15px;
  }
  .berPaddtop h1 {
    font-size: 28px;
  }
  .h6padding {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .text_padding_2 {
    margin-top: 75px;
  }
  .background-img_2 {
    margin-bottom: 40px;
  }
  .about_text_position_2 {
    margin-top: 45px;
  }
  .text_position_3 {
    margin-top: 60px;
  }
  .berPadd img {
    height: 50px;
  }
  .card {
    margin-top: 55px;
  }
  .card h6 {
    padding: 10px;
  }
  .card h3 {
    padding: 10px 10px 0px 10px;
  }
  .card_3 {
    width: 300px;
  }
  #text_position_31 {
    text-align: -webkit-center;
  }
  #text_position_31 h6 {
    max-width: 722px;
  }
  .text_position_3 {
    margin-bottom: -5px;
  }
  .img_uploader input {
    width: 105%;
  }
  .img_1 img {
    max-width: 58%;
  }
  .background-img_3 {
    height: 450px;
  }
  .img_possition_1 {
    height: 450px;
    bottom: -1.374px;
  }
  div.text_3 {
    top: 55%;
  }
  .card_3 img {
    height: 80px;
    width: 80px;
  }
  .card_3 h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
  }
  .card_3 {
    width: 260px;
    height: 235px;
    padding: 10px;
  }
  .getVenus {
    margin-top: 385px;
  }
  .cv_bank_container ul {
    font-size: 14px;
  }
  .card_2 {
    width: 220px;
    padding: 20px;
  }
  .app_icon_size {
    width: 135px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hide_title {
    display: block;
  }
  .form-groupx input {
    margin-left: 10px;
    width: 80%;
  }
  .background-img_1 {
    height: 550px;
  }
  .about_text_position_13,
  .venus_text_position_4 {
    margin-top: 40px;
  }
  .text_position_2 {
    top: 135px;
  }
  .text_position_2 h1 {
    font-size: 35px;
  }
  .text_position_2 h6 {
    font-size: 15px;
  }
  .berPaddtop h1 {
    font-size: 28px;
  }
  .ber_position {
    margin-top: -118px;
  }
  .text_position_3_milestone {
    margin-bottom: 0px;
    margin-top: 60px;
  }
  .h6padding {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .text_padding_2 {
    margin-top: 80px;
  }
  .background-img_2 {
    margin-bottom: 40px;
  }
  .text_position_2 h6,
  .about_text_position_2 h6,
  .about_text_position_13 h6 {
    max-width: 600px;
    font-size: 13px;
  }
  .about_text_position_2 h1,
  .about_text_position_13 h1 {
    font-size: 24px;
  }
  .text_position_3 {
    margin-top: 60px;
  }
  .text_2 h1 {
    font-size: 24px;
  }
  .text_2 h6 {
    font-size: 13px;
  }
  .img_1 img {
    max-width: 75%;
    margin-top: -16%;
  }
  .card_2 h1 {
    font-size: 25px;
  }
  .card_2 h4 {
    font-size: 20px;
  }
  .card_2 {
    width: 160px;
    padding: 10px;
  }
  .card_2 img {
    height: 36px;
    margin-top: 10px;
  }
  .background-img_3 {
    height: 450px;
  }
  .img_possition_1 {
    height: 450px;
    bottom: -1.5px;
  }
  div.text_3 {
    top: 55%;
  }
  .text_3 h1 {
    font-size: 24px;
  }
  .text_3 h6 {
    font-size: 14px;
  }
  .card h3 {
    padding: 10px 10px 0px 10px;
    font-size: 20px;
  }
  .card h6 {
    padding: 0px 10px 10px 10px;
    font-size: 13px;
  }
  .logosize img {
    height: 150px;
    width: 150px;
  }
  .app_icon_size {
    height: 30px;
    width: 100px;
  }
  .ber_position_about {
    margin-top: 6%;
  }
  .berPadd img {
    height: 50px;
    width: 50px;
  }
  .berPadd h2 {
    font-size: 24px;
  }
  .berPadd h6 {
    font-size: 14px;
  }
  #rds_about {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card_3 img {
    height: 50px;
    width: 50px;
  }
  .card_3 h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
  }
  .card_3 h6 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  .card_3 {
    width: 205px;
    height: 205px;
    padding: 10px;
  }
  .img_uploader input {
    width: 160%;
  }
  #buttonCV {
    width: 112px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .getVenus {
    margin-top: 385px;
  }
  .cv_bank_container ul {
    font-size: 14px;
  }
  div.text_position_3 h6 {
    max-width: 600px;
    font-size: 13px;
  }
  div.text_position_3 h1 {
    font-size: 24px;
  }
  .text_position_3_milestone h6 {
    max-width: 600px;
    font-size: 13px;
  }
  .text_position_3_milestone h1 {
    font-size: 24px;
  }
  .cvbank_text_position_1 h1,
  .text_padding_2 h1,
  .venus_text_position_1 h1,
  .venus_text_position_3 h1,
  .venus_text_position_4 h1 {
    font-size: 24px;
  }
  .venus_text_position_2 h6,
  .cvbank_text_position_1 h6,
  .text_padding_2 h6,
  .venus_text_position_1 h6,
  .venus_text_position_3 h6,
  .venus_text_position_4 h6 {
    max-width: 600px;
    font-size: 13px;
  }
  .team_position img {
    height: 150px;
  }
  .team_position h3 {
    font-size: 22px;
  }
  .team_position h6 {
    font-size: 13px;
  }
  .reaervePosition {
    font-size: 15px;
  }
  #hide_top {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .hide_title {
    display: block;
  }
  .form-groupx input {
    margin-left: 10px;
    width: 86%;
  }
  #hide_top {
    display: none;
  }
  #apu_img_content {
    width: 50%;
  }
  #pairing {
    width: 50%;
  }
  #venus_text {
    width: 50%;
  }
  div.home_text_3_outside {
    height: 350px;
  }
  .about_background-img_1 {
    height: 450px;
  }
  div.text_3 {
    top: 65%;
  }
  .about_text_position_13,
  .venus_text_position_4 {
    margin-top: 30px;
  }
  .cvbank_text_position_1 h1,
  .venus_text_position_1 h1,
  .venus_text_position_4 h1,
  .venus_text_position_3 h1,
  .venus_text_position_2 h1,
  .about_text_position_13 h1,
  .about_text_position_2 h1,
  .text_3 h1,
  .text_padding_2 h1,
  .text_2 h1,
  .text_position_3_milestone h1,
  .text_position_3 h1 {
    font-size: 24px;
  }
  .venus_text_position_2 h6,
  .cvbank_text_position_1 h6,
  .venus_text_position_1 h6,
  .venus_text_position_4 h6,
  .venus_text_position_3 h6,
  .about_text_position_13 h6,
  .about_text_position_2 h6,
  .about_text_position_1 h6,
  .text_position_2 h6,
  .text_3 h6,
  .text_padding_2 h6,
  .text_2 h6,
  .text_position_3_milestone h6,
  .text_position_3 h6,
  .venus_text_position_2 h6 {
    font-size: 13px;
    max-width: 600px !important;
  }
  .cv_bank_container {
    padding-bottom: 50px;
  }
  .form-groupx input {
    margin-left: 10px;
    width: 82%;
  }
  .row-padding {
    padding-bottom: 0px;
  }
  .background-img_1 {
    height: 450px;
  }

  .ber_position {
    margin-top: -76px;
  }
  .text_position_2 {
    position: relative;
    top: 96px;
  }
  .text_position_3_milestone {
    margin-bottom: 0px;
  }
  .img_1 img {
    max-width: 60%;
    margin-top: 0;
    position: relative;
    top: -42px;
  }
  div.home_text_2_outside {
    height: 160px;
  }
  #home-content-2 {
    width: 50%;
  }
  .text_position_3 {
    margin-top: 50px;
  }
  .text_2 h1 {
    font-size: 20px;
  }
  .text_2 h6 {
    font-size: 12px;
  }
  .container_position_1 {
    margin-top: 30px;
  }
  .col-12 {
    padding-bottom: 20px;
  }
  .card {
    margin-top: 20px;
  }
  #badge {
    text-decoration: none;
    padding: 0px 0px 0px 5px;
  }
  a#badge img {
    height: 20px;
  }
  .badge_psition {
    margin-top: -5px;
  }
  .card_2 h1 {
    font-size: 25px;
  }
  .card_2 h4 {
    font-size: 20px;
  }
  .card_2 {
    width: 160px;
    padding: 10px;
  }
  .card_2 img {
    height: 36px;
    margin-top: 10px;
  }
  #card_2 {
    width: 50%;
  }
  .ber_position_about {
    background-color: #ffffff;
  }
  .berPadd {
    background-color: #fc6375;
    border-style: hidden;
    border-radius: 12px;
    padding: 15px;
    max-width: 190px;
  }
  .berPadd img {
    height: 50px;
  }
  .berPaddtop {
    background-color: #fc6375;
    border-style: hidden;
    border-radius: 12px;
    padding: 10px;
  }
  .background-img_2 {
    height: 160px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #home-do-content {
    width: 50%;
  }
  #rds_about {
    margin-top: -25px;
    padding-bottom: 0px;
  }
  #buttonCV {
    width: 112px;
  }
  .img_possition_1 {
    height: 320px;
    bottom: -31px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .app_icon_size {
    height: 35px;
    width: auto;
  }
  .team_position {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .team_position img {
    height: 130px;
    object-fit: cover;
  }
  #teamPosition {
    margin-top: 70px;
  }
  .about_text_position_2 {
    margin-top: 24px;
  }
  .about_text_position_21 {
    margin-top: 0px;
  }
  .about_text_position_1 {
    top: 150px;
  }
  .venus_img_1 {
    height: 285px;
  }
  .card_3 {
    width: 203px;
    padding: 5px;
  }
  #text_position_31 {
    margin-top: -185px;
  }
  .footerposition h4 {
    margin-top: 0px;
  }
  .img_uploader {
    width: 40%;
  }
  .hideyear {
    visibility: hidden;
  }
  .positionQualification {
    margin-top: -50px;
  }
  .venus_background_img_1 {
    height: 300px;
  }
  .card_3 img {
    height: 50px;
    width: 50px;
  }
  .card_3 h6 {
    font-size: 13px;
  }
  .card_3 h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
  }
  .venus_text_position_2 {
    position: relative;
    top: 85px;
    max-width: 320px;
  }
  .venus_text_position_2 h1 {
    font-size: 20px;
  }
  .background-img_3 {
    margin-top: -30px;
    height: 350px;
  }
  #card_3 {
    width: 50%;
  }
  #rds {
    background-color: #ffffff;
    margin-top: 58px;
  }
  .getVenus {
    margin-top: 380px;
  }
  .berPaddtop {
    background-color: #ffffff;
    color: #000;
    padding: 0px;
  }
  .berPaddtop h1 {
    font-size: 28px;
  }
  .h6padding {
    padding-bottom: 0px;
  }
  .cv_bank_container21 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cv_bank_container21 h4 {
    font-size: large;
  }
  .logosize img {
    height: 150px;
    width: 150px;
  }
  .socialLogoPosition {
    text-align: center;
    position: relative;
  }
  .reaervePosition {
    text-align: center;
  }
  .img_uploader input {
    width: 70%;
    height: 57%;
  }
}

@media only screen and (min-width: 380px) and (max-width: 600px) {
  .hide_title {
    display: block;
  }
  .form-groupx input {
    margin-left: 10px;
    width: 86%;
  }
  #hide_top {
    display: none;
  }
  #apu_img_content {
    width: 50%;
  }
  #pairing {
    width: 50%;
  }
  #venus_text {
    width: 50%;
  }
  #hide_br {
    display: none;
  }
  div.home_text_3_outside {
    height: 350px;
  }
  .about_background-img_1 {
    height: 350px;
  }
  div.text_3 {
    top: 48%;
  }
  .about_text_position_13,
  .venus_text_position_4 {
    margin-top: 30px;
  }
  .cvbank_text_position_1 h1,
  .venus_text_position_1 h1,
  .venus_text_position_4 h1,
  .venus_text_position_3 h1,
  .venus_text_position_2 h1,
  .about_text_position_13 h1,
  .about_text_position_2 h1,
  .text_3 h1,
  .text_padding_2 h1,
  .text_position_3_milestone h1,
  .text_position_3 h1 {
    font-size: 20px;
  }
  .venus_text_position_2 h6,
  .cvbank_text_position_1 h6,
  .venus_text_position_1 h6,
  .venus_text_position_4 h6,
  .venus_text_position_3 h6,
  .about_text_position_13 h6,
  .about_text_position_2 h6,
  .about_text_position_1 h6,
  .text_position_2 h6,
  .text_3 h6,
  .text_padding_2 h6,
  .text_position_3_milestone h6,
  .text_position_3 h6,
  .venus_text_position_2 h6 {
    font-size: 12px;
    max-width: 321px !important;
  }
  .venus_text_position_4,
  .venus_text_position_3,
  .cvbank_text_position_1,
  .text_padding_2 {
    margin-top: 30px;
  }
  .cv_bank_container {
    padding-bottom: 50px;
  }
  .form-groupx input {
    margin-left: 10px;
    width: 82%;
  }
  .row-padding {
    padding-bottom: 0px;
  }
  .background-img_1 {
    height: 350px;
  }
  #venusButton {
    padding: 6px 10px 6px 10px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 6px;
    border-width: 1px;
  }
  .ber_position {
    margin-top: -74px;
  }
  .text_position_2 {
    top: 60px;
  }
  .text_position_2 h1,
  .about_text_position_1 h1 {
    font-size: 22px;
  }
  div.home_text_2_outside {
    height: 160px;
  }
  #home-content-2 {
    width: 50%;
  }
  .text_position_3 {
    margin-top: 30px;
  }
  .text_2 h1 {
    font-size: 16px;
  }
  .text_2 h6 {
    font-size: 10px;
  }
  .container_position_1 {
    margin-top: 30px;
  }
  .col-12 {
    padding-bottom: 20px;
  }
  .card {
    margin-top: 20px;
  }
  #badge {
    text-decoration: none;
    padding: 0px 0px 0px 5px;
  }
  a#badge img {
    height: 20px;
  }
  .badge_psition {
    margin-top: -5px;
  }
  .card_2 h1 {
    font-size: 25px;
  }
  .card_2 h4 {
    font-size: 20px;
  }
  .card_2 {
    width: 160px;
    padding: 10px;
  }
  .card_2 img {
    height: 36px;
    margin-top: 10px;
  }
  #card_2 {
    width: 50%;
  }
  .ber_position_about {
    background-color: #ffffff;
  }
  .berPadd {
    background-color: #fc6375;
    border-style: hidden;
    border-radius: 12px;
    padding: 8px;
    width: 150px;
  }
  .berPadd img {
    height: 50px;
  }
  .berPaddtop {
    background-color: #fc6375;
    border-style: hidden;
    border-radius: 12px;
    padding: 10px;
  }
  .background-img_2 {
    height: 160px;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .text_position_3_milestone {
    margin-bottom: 0px;
  }
  #home-do-content {
    width: 50%;
  }
  #buttonCV {
    width: 112px;
  }
  .img_possition_1 {
    height: 220px;
    bottom: -31px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .app_icon_size {
    height: 28px;
    width: auto;
  }
  .team_position {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .team_position img {
    height: 130px;
    object-fit: cover;
  }
  #teamPosition {
    margin-top: 70px;
  }
  .about_text_position_2 {
    margin-top: 18px;
  }
  .berPadd h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .berPadd h6 {
    font-size: 12px;
    font-weight: 400;
  }
  .about_text_position_21 {
    margin-top: 0px;
  }
  .about_text_position_1 {
    top: 155px;
  }
  #rds_about {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .venus_img_1 {
    height: 210px;
  }
  .card_3 {
    width: 150px;
    padding: 5px;
    top: -60px;
  }
  #text_position_31 {
    margin-top: -185px;
  }
  .footerposition h4 {
    margin-top: 0px;
  }
  .img_uploader {
    width: 40%;
  }
  .hideyear {
    visibility: hidden;
  }
  .positionQualification {
    margin-top: -50px;
  }
  .venus_background_img_1 {
    height: 300px;
  }
  #card-position {
    margin-top: 350px;
  }
  .card_3 img {
    height: 50px;
    width: 50px;
  }
  .card_3 h6 {
    font-size: 12px;
  }
  .card_3 h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  .venus_text_position_2 {
    top: 115px;
    max-width: 320px;
  }
  .venus_text_position_2 h1 {
    font-size: 20px;
  }
  .background-img_3 {
    margin-top: -30px;
    height: 250px;
  }
  #card_3 {
    width: 50%;
  }
  #rds {
    background-color: #ffffff;
    margin-top: 58px;
  }
  .getVenus {
    margin-top: -25px;
  }
  #venusButtonGet {
    padding: 6px 10px 6px 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 7px;
    border-width: 1px;
  }
  .berPaddtop {
    background-color: #ffffff;
    color: #000;
    padding: 0px;
  }
  .berPaddtop h1 {
    font-size: 24px;
  }
  .h6padding {
    padding-bottom: 0px;
  }
  .cv_bank_container21 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cv_bank_container21 h4 {
    font-size: large;
  }
  .logosize img {
    height: 150px;
    width: 150px;
  }
  .socialLogoPosition {
    text-align: center;
    position: relative;
  }
  .reaervePosition {
    text-align: center;
  }
  .img_uploader input {
    width: 120px;
  }
  .h6padding {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 379px) {
  .hide_title {
    display: block;
  }
  #hide_top {
    display: none;
  }
  .cv_bank_container {
    padding-bottom: 50px;
  }
  .h6padding {
    padding-top: 10px;
  }
  .form-groupx input {
    align-self: center;
    width: 60%;
  }
  .row-padding {
    padding-bottom: 0px;
  }
  #apu_img_content {
    width: 50%;
  }
  #pairing {
    width: 50%;
  }
  #venus_text {
    width: 50%;
  }
  div.home_text_3_outside {
    height: 350px;
  }
  .about_background-img_1 {
    height: 350px;
  }
  div.text_3 {
    top: 48%;
  }
  .about_text_position_13,
  .venus_text_position_4 {
    margin-top: 30px;
  }
  .cvbank_text_position_1 h1,
  .venus_text_position_1 h1,
  .venus_text_position_4 h1,
  .venus_text_position_3 h1,
  .venus_text_position_2 h1,
  .about_text_position_13 h1,
  .about_text_position_2 h1,
  .text_padding_2 h1,
  .text_position_3_milestone h1,
  .text_position_3 h1 {
    font-size: 20px;
  }
  .venus_text_position_2 h6,
  .cvbank_text_position_1 h6,
  .venus_text_position_4 h6,
  .venus_text_position_3 h6,
  .about_text_position_13 h6,
  .about_text_position_2 h6,
  .about_text_position_1 h6,
  .text_position_2 h6,
  .text_padding_2 h6,
  .text_position_3_milestone h6,
  .text_position_3 h6,
  .venus_text_position_2 h6 {
    font-size: 12px;
    max-width: 321px !important;
  }
  .text_3 h1 {
    font-size: 16px;
  }
  .text_3 h6,
  .venus_text_position_1 h6 {
    font-size: 10px;
  }
  .venus_text_position_4,
  .venus_text_position_3,
  .cvbank_text_position_1,
  .text_padding_2 {
    margin-top: 30px;
  }
  .form-groupx input {
    margin-left: 10px;
    width: 82%;
  }
  .background-img_1 {
    height: 350px;
  }
  #venusButton {
    padding: 6px 10px 6px 10px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 6px;
    border-width: 1px;
  }
  .ber_position {
    margin-top: -75px;
  }
  .text_position_2 {
    top: 96px;
  }
  .text_position_2 h1,
  .about_text_position_1 h1 {
    font-size: 22px;
  }
  #hide_br {
    display: none;
  }
  div.home_text_2_outside {
    height: 160px;
  }
  #home-content-2 {
    width: 50%;
  }
  .text_position_3 {
    margin-top: 30px;
  }
  .text_2 h1 {
    font-size: 16px;
  }
  .text_2 h6 {
    font-size: 10px;
  }
  .container_position_1 {
    margin-top: 30px;
  }
  .col-12 {
    padding-bottom: 20px;
  }
  .card {
    margin-top: 20px;
  }
  #badge {
    text-decoration: none;
    padding: 0px 0px 0px 5px;
  }
  a#badge img {
    height: 18px;
  }
  .badge_psition {
    margin-top: -5px;
  }
  .card_2 h1 {
    font-size: 20px;
  }
  .card_2 h4 {
    font-size: 14px;
  }
  .card_2 {
    width: 128px;
    padding: 10px;
  }
  .card_2 img {
    height: 36px;
    margin-top: 10px;
  }
  #card_2 {
    width: 50%;
  }
  .ber_position_about {
    background-color: #ffffff;
  }
  .berPadd {
    background-color: #fc6375;
    border-style: hidden;
    border-radius: 12px;
    padding: 8px;
    width: 150px;
  }
  .berPadd img {
    height: 50px;
  }
  .berPaddtop {
    background-color: #fc6375;
    border-style: hidden;
    border-radius: 12px;
    padding: 10px;
  }
  .background-img_2 {
    height: 160px;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .text_position_3_milestone {
    margin-bottom: 0px;
  }
  #home-do-content {
    width: 50%;
  }
  #rds_about {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  #buttonCV {
    width: 112px;
  }
  .img_possition_1 {
    height: 220px;
    bottom: -31px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .app_icon_size {
    height: 28px;
    width: auto;
  }
  .team_position {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .team_position img {
    height: 130px;
    object-fit: cover;
  }
  #teamPosition {
    margin-top: 70px;
  }
  .about_text_position_2 {
    margin-top: 18px;
  }
  .berPadd h2 {
    font-size: 18px;
    font-weight: 500;
  }
  .berPadd h6 {
    font-size: 12px;
    font-weight: 400;
  }
  .about_text_position_21 {
    margin-top: 0px;
  }
  .about_text_position_1 {
    top: 190px;
  }
  .venus_img_1 {
    height: 210px;
  }
  .card_3 {
    width: 150px;
    padding: 5px;
    top: -73px;
  }
  #text_position_31 {
    margin-top: -185px;
  }
  .footerposition h4 {
    margin-top: 0px;
  }
  .img_uploader {
    width: 40%;
  }
  .hideyear {
    visibility: hidden;
  }
  .positionQualification {
    margin-top: -50px;
  }
  .venus_background_img_1 {
    height: 300px;
  }
  #card-position {
    margin-top: 350px;
  }
  .card_3 img {
    height: 50px;
    width: 50px;
  }
  .card_3 h6 {
    font-size: 12px;
  }
  .card_3 h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  .venus_text_position_2 {
    top: 110px;
    max-width: 320px;
  }
  .venus_text_position_2 h1 {
    font-size: 20px;
  }
  .background-img_3 {
    margin-top: -30px;
    height: 250px;
  }
  #card_3 {
    width: 50%;
  }
  #rds {
    background-color: #ffffff;
    margin-top: 58px;
  }
  .getVenus {
    margin-top: -45px;
  }
  #venusButtonGet {
    padding: 6px 10px 6px 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 7px;
    border-width: 1px;
  }
  .berPaddtop {
    background-color: #ffffff;
    color: #000;
    padding: 0px;
  }
  .berPaddtop h1 {
    font-size: 24px;
  }
  .h6padding {
    padding-bottom: 0px;
  }
  .cv_bank_container21 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .cv_bank_container21 h4 {
    font-size: large;
  }
  .logosize img {
    height: 150px;
    width: 150px;
  }
  .socialLogoPosition {
    text-align: center;
    position: relative;
  }
  .reaervePosition {
    text-align: center;
  }
  .img_uploader input {
    width: 118px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 600px) {
  .img_1 img {
    max-width: 60%;
    margin-top: 0;
    position: relative;
    top: -42px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 575px) {
  .img_1 img {
    max-width: 60%;
    margin-top: 0;
    position: relative;
    top: -42px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 539px) {
  .img_1 img {
    max-width: 65%;
    margin-top: 0;
    position: relative;
    top: -42px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 499px) {
  .img_1 img {
    max-width: 68%;
    margin-top: 0;
    position: relative;
    top: -42px;
  }
}
@media only screen and (min-width: 460px) and (max-width: 479px) {
  .img_1 img {
    max-width: 70%;
    margin-top: 0;
    position: relative;
    top: -42px;
  }
}
@media only screen and (min-width: 380px) and (max-width: 459px) {
  div.img_1_outside {
    height: 100%;
    width: 100%;
  }
  div.img_1 {
    position: relative;
    bottom: -40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .img_1 img {
    max-width: 77%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 350px) and (max-width: 379px) {
  div.img_1_outside {
    height: 100%;
    width: 100%;
  }
  div.img_1 {
    position: relative;
    bottom: -40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .img_1 img {
    max-width: 85%;
    margin-top: 0;
  }
}
@media only screen and (max-width: 349px) {
  div.img_1_outside {
    height: 100%;
    width: 100%;
  }
  div.img_1 {
    position: relative;
    bottom: -40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .img_1 img {
    max-width: 95%;
    margin-top: 0;
  }
}
