a.nav-link {
  font-family: 'Urbanist';
  font-size: 16px;
  font-weight: 600;
}

.logoTop {
  height: 50px;
}

#buttonCV {
  border-style: hidden;
  border-radius: 8px;
  background-color: #ff566b;
  color: #fff;
  padding: 7px 25px 7px;
  margin-top: -8px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}

@media only screen and (min-width: 992px) {
  .navpaddingleft {
    padding-left: 5%;
  }
  .navpaddingright {
    padding-right: 5%;
  }
  .nav-link {
    padding: 0.5rem 1rem;
    vertical-align: middle;
    position: relative;
    top: 15px;
  }
}
