a.nav-link {
  font-family: 'Urbanist';
  font-size: 16px;
  font-weight: 600;
}

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}

#buttonCV {
  border-style: hidden;
  border-radius: 8px;
  background-color: #ff566b;
  color: #fff;
  padding: 7px 25px 7px;
  margin-top: -8px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}

@media only screen and (max-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    margin-left: -30px;
  }
  .navbar-brand-2 {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .navbar-brand h4 {
    position: relative;
    top: 5px;
    font-size: 15px;
    font-weight: 500;
    background-color: #fc6375;
    color: #fff;
    padding: 4px 12px 4px;
    border-radius: 14px;
  }
  .logoTop {
    height: 40px;
    margin-left: 25px;
  }
  .ms-auto {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: -webkit-center;
  }
}

@media only screen and (min-width: 992px) {
  .navpaddingleft {
    padding-left: 5%;
  }
  .navpaddingright {
    padding-right: 5%;
  }
  .nav-link {
    padding: 0.5rem 1rem;
    vertical-align: middle;
    position: relative;
    top: 15px;
  }
  .logoTop {
    height: 50px;
  }
  .spacial-link {
    padding-right: 30px;
  }
  .spacial-brand {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .navbar {
    flex-direction: row-reverse;
  }
}
@media only screen and (width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    margin-left: 0px;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end !important;
  }
}
