.sidebar {
  padding: 0;
  width: 200px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #ededed;
  color: rgb(0, 0, 0);
  border-bottom-left-radius: 13%;
  border-top-left-radius: 13%;
}

.sidebar a:hover:not(.active) {
  background-color: #008587;
  color: white;
}

div.content {
  margin-top: 80px;
  margin-left: 200px;
  padding: 1px 16px;
}

.logoStyle {
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
